@font-face {
  font-family: Cormorant Garamond;
  src: url("./assets/cormorant-garamond-v14-latin-regular.woff") format('woff');
  font-weight: normal;
}

.section {
  background-color: #1d1d1c;
  padding: 100px 112px;
}

@media (max-width: 1025px) {
  .section {
    padding: 80px 30px;
  }
}

.trains {
  margin: 0 auto;
  max-width: 1595px;
}

.trains h1 {
  font-family: Cormorant Garamond;
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 71px;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  margin-bottom: 40px;
}

@media (max-width: 1025px) {
  .trains h1 {
    font-size: 48px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card {
  flex: 1 0 auto;
  background-color: #181818;
  height: 350px;
  padding: 36px;
  width: 383px;
}

.card p {
  color: #fff;
}

.card p span {
  color: #ffde59;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 20px;
  margin-bottom: 20px;
}